<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row bg-primary">
  <div class="container">
    <div class="navbar-brand mr-2 mr-md-0">
      <a routerLink="/">
        BLX Coding Exercise - <small>Christopher Clarke</small>
      </a>
    </div>
    <ul class="social-buttons navbar-nav flex-row ml-md-auto d-none d-lg-flex align-items-center">
      <a class="nav-link" href="https://github.com/afroradiohead/blx-coding-interview" target="_blank">
        <i class="fa fa-github"></i> Github
      </a>
    </ul>
  </div>
</header>
<div class="container">
  <form (submit)="onFormSubmit()">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label" for="analysis-date-input">Analysis Date</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
            <p-calendar id="analysis-date-input" [formControl]="formGroup.controls['analysisDate']" ></p-calendar>
          </div>
        </div>
        <div class="form-group">
          <label>Discount Rate</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">%</span>
            </div>
            <input max="100" min="0" step="1" type="number" class="form-control" [formControl]="formGroup.controls['discountRate']" />
          </div>
        </div>
        <div class="form-group">
          <label>Cash flows</label>
          <hot-table
            [data]="inputCashflowList"
            [startRows]="2"
            [maxCols]="2"
            [minSpareRows]="1"
            [colHeaders]="true"
            [rowHeaders]="false">
            <hot-column data="date" title="Date"></hot-column>
            <hot-column data="amount" title="Amount"></hot-column>
          </hot-table>
        </div>
        <div>
          <button class="btn btn-primary">Calculate NPV</button>
        </div>
      </div>
      <div class="col-md-6 offset-md-3">
        <table class="table table-striped">
          <tr>
            <th>Date</th>
            <th>Cash Flow</th>
            <th>PV</th>
          </tr>
          <tr *ngFor="let cashFlow of outputCashflowList">
            <td>{{cashFlow.date | date:'MM/dd/yyyy'}}</td>
            <td>{{cashFlow.amount | blxCurrency}}</td>
            <td>{{cashFlow.PV | blxCurrency}}</td>
          </tr>
        </table>
        <h3 class="text-center" *ngIf="netPV">
          <div class="badge badge-dark">NPV
            <span class="badge badge-pill badge-light">{{netPV | blxCurrency}}</span>
          </div>
        </h3>
      </div>
    </div>
  </form>
</div>
